.toggle-icon {
  display: inline-block;
  width: 22px;
  height: 18px;
  background-size: cover;
  position: absolute;
  display: inline-block;
  right: 15px;
  bottom: 0;
}

.open {
  background-image: url('../../../assets/images/eye-regular.svg');
}

.closed {
  background-image: url('../../../assets/images/eye-slash-regular.svg');
}